<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Y:\Projects\StudentManagementSystem\StudentManagementSystem\myStudents.mdf;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>

    <add key="FirstNameLength" value="1"/>
    <add key="SurnameLength" value="3"/>
    <add key="PhoneRegEx" value="^\d{10}"/>
    <add key="EmailRegEx" value="[a-z0-9!#$%*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?
"/>
    
  </appSettings>
</configuration>